In [1]:
# Tratamiento de datos
# ==============================================================================
import numpy as np
import pandas as pd
# Gráficos
# ==============================================================================
import matplotlib.pyplot as plt
from matplotlib import style
import matplotlib.ticker as ticker
import seaborn as sns
# Gráficos
# ==============================================================================
from statsmodels.tools.tools import add_constant
from statsmodels.stats.outliers_influence import variance_inflation_factor
# Asunciones y Preprocesamiento
# ==============================================================================
from scipy import stats
import math
from scipy.stats import levene
import researchpy as rp
from sklearn.preprocessing import StandardScaler
import itertools
# ANOVA
# ==============================================================================
import statsmodels.api as sm
from statsmodels.formula.api import ols
#Linear Regresion con Sklearn
# ==============================================================================
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
# Configuración warnings
# ==============================================================================
import warnings
warnings.filterwarnings('ignore')
# Tamaño gráficas
# ==============================================================================
plt.rcParams["figure.figsize"] = (12,10)

pd.options.display.max_columns = None

In [2]:
df = pd.read_csv("datos/limpieza_tableau.csv", index_col =0)
df

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,4,0,1,1,1,0,2,14.11,18.18,80.58,10.75,331,654,985
1,2,2018-02-01,4,0,1,0,2,1,2,14.90,17.69,69.61,16.65,131,670,801
2,3,2018-03-01,4,0,1,0,3,1,1,8.05,9.47,43.73,16.64,120,1229,1349
3,4,2018-04-01,4,0,1,0,4,1,1,8.20,10.61,59.04,10.74,108,1454,1562
4,5,2018-05-01,4,0,1,0,5,1,1,9.31,11.46,43.70,12.52,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,726,2019-12-27,4,1,12,0,6,0,2,10.42,11.33,65.29,23.46,247,1867,2114
726,727,2019-12-28,4,1,12,0,7,0,2,10.39,12.75,59.00,10.42,644,2451,3095
727,728,2019-12-29,4,1,12,0,1,1,2,10.39,12.12,75.29,8.33,159,1182,1341
728,729,2019-12-30,4,1,12,0,2,1,1,10.49,11.58,48.33,23.50,364,1432,1796
729,730,2019-12-31,4,1,12,0,3,1,2,8.85,11.17,57.75,10.37,439,2290,2729

In [3]:
df.season.unique()

array([4, 1, 2, 3])

In [4]:
season_cambio2 = {1:"primavera", 2:"verano", 3:"otoño", 4:"invierno"}

In [5]:
df["season"] = df["season"].astype("object")

In [6]:
df["season"]=df["season"].map(season_cambio2)
df

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,invierno,0,1,1,1,0,2,14.11,18.18,80.58,10.75,331,654,985
1,2,2018-02-01,invierno,0,1,0,2,1,2,14.90,17.69,69.61,16.65,131,670,801
2,3,2018-03-01,invierno,0,1,0,3,1,1,8.05,9.47,43.73,16.64,120,1229,1349
3,4,2018-04-01,invierno,0,1,0,4,1,1,8.20,10.61,59.04,10.74,108,1454,1562
4,5,2018-05-01,invierno,0,1,0,5,1,1,9.31,11.46,43.70,12.52,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,726,2019-12-27,invierno,1,12,0,6,0,2,10.42,11.33,65.29,23.46,247,1867,2114
726,727,2019-12-28,invierno,1,12,0,7,0,2,10.39,12.75,59.00,10.42,644,2451,3095
727,728,2019-12-29,invierno,1,12,0,1,1,2,10.39,12.12,75.29,8.33,159,1182,1341
728,729,2019-12-30,invierno,1,12,0,2,1,1,10.49,11.58,48.33,23.50,364,1432,1796
729,730,2019-12-31,invierno,1,12,0,3,1,2,8.85,11.17,57.75,10.37,439,2290,2729

In [7]:
semana_cambio = {1:"lunes", 2:"martes", 3:"miércoles",4:"jueves", 5:"viernes", 6:"sábado", 7:"domingo"}

In [8]:
df["weekday"] = df["weekday"].astype("object")

In [9]:
df["weekday"] = df["weekday"].map(semana_cambio)

In [10]:
df

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,invierno,0,1,1,lunes,0,2,14.11,18.18,80.58,10.75,331,654,985
1,2,2018-02-01,invierno,0,1,0,martes,1,2,14.90,17.69,69.61,16.65,131,670,801
2,3,2018-03-01,invierno,0,1,0,miércoles,1,1,8.05,9.47,43.73,16.64,120,1229,1349
3,4,2018-04-01,invierno,0,1,0,jueves,1,1,8.20,10.61,59.04,10.74,108,1454,1562
4,5,2018-05-01,invierno,0,1,0,viernes,1,1,9.31,11.46,43.70,12.52,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,726,2019-12-27,invierno,1,12,0,sábado,0,2,10.42,11.33,65.29,23.46,247,1867,2114
726,727,2019-12-28,invierno,1,12,0,domingo,0,2,10.39,12.75,59.00,10.42,644,2451,3095
727,728,2019-12-29,invierno,1,12,0,lunes,1,2,10.39,12.12,75.29,8.33,159,1182,1341
728,729,2019-12-30,invierno,1,12,0,martes,1,1,10.49,11.58,48.33,23.50,364,1432,1796
729,730,2019-12-31,invierno,1,12,0,miércoles,1,2,8.85,11.17,57.75,10.37,439,2290,2729

In [11]:
laborable = {0:"no laborable", 1:"laborable"}

In [12]:
df["workingday"] = df["workingday"].astype("object")

In [13]:
df["workingday"] = df["workingday"].map(laborable)
df

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,invierno,0,1,1,lunes,no laborable,2,14.11,18.18,80.58,10.75,331,654,985
1,2,2018-02-01,invierno,0,1,0,martes,laborable,2,14.90,17.69,69.61,16.65,131,670,801
2,3,2018-03-01,invierno,0,1,0,miércoles,laborable,1,8.05,9.47,43.73,16.64,120,1229,1349
3,4,2018-04-01,invierno,0,1,0,jueves,laborable,1,8.20,10.61,59.04,10.74,108,1454,1562
4,5,2018-05-01,invierno,0,1,0,viernes,laborable,1,9.31,11.46,43.70,12.52,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,726,2019-12-27,invierno,1,12,0,sábado,no laborable,2,10.42,11.33,65.29,23.46,247,1867,2114
726,727,2019-12-28,invierno,1,12,0,domingo,no laborable,2,10.39,12.75,59.00,10.42,644,2451,3095
727,728,2019-12-29,invierno,1,12,0,lunes,laborable,2,10.39,12.12,75.29,8.33,159,1182,1341
728,729,2019-12-30,invierno,1,12,0,martes,laborable,1,10.49,11.58,48.33,23.50,364,1432,1796
729,730,2019-12-31,invierno,1,12,0,miércoles,laborable,2,8.85,11.17,57.75,10.37,439,2290,2729

In [14]:
year = {0:2018, 1:2019}

In [15]:
df["yr"] = df["yr"].map(year)
df

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2018-01-01,invierno,2018,1,1,lunes,no laborable,2,14.11,18.18,80.58,10.75,331,654,985
1,2,2018-02-01,invierno,2018,1,0,martes,laborable,2,14.90,17.69,69.61,16.65,131,670,801
2,3,2018-03-01,invierno,2018,1,0,miércoles,laborable,1,8.05,9.47,43.73,16.64,120,1229,1349
3,4,2018-04-01,invierno,2018,1,0,jueves,laborable,1,8.20,10.61,59.04,10.74,108,1454,1562
4,5,2018-05-01,invierno,2018,1,0,viernes,laborable,1,9.31,11.46,43.70,12.52,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,726,2019-12-27,invierno,2019,12,0,sábado,no laborable,2,10.42,11.33,65.29,23.46,247,1867,2114
726,727,2019-12-28,invierno,2019,12,0,domingo,no laborable,2,10.39,12.75,59.00,10.42,644,2451,3095
727,728,2019-12-29,invierno,2019,12,0,lunes,laborable,2,10.39,12.12,75.29,8.33,159,1182,1341
728,729,2019-12-30,invierno,2019,12,0,martes,laborable,1,10.49,11.58,48.33,23.50,364,1432,1796
729,730,2019-12-31,invierno,2019,12,0,miércoles,laborable,2,8.85,11.17,57.75,10.37,439,2290,2729

In [16]:
df.to_csv("datos/tableau.csv")